<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Handing Form Submission</title>
    <link href="/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<h1>Form</h1>

<form action="#" class="form" onsubmit="return validate()" th:action="@{/creates}" th:object="${userone}" method="post">
    <!--<p>ID: <input type="text" th:field="*{id}" /></p>-->
    <p>Name: <input type="text" id="input-name" class="input-name" th:field="*{firstName}"/><span style="color:red" id="fname"></span></p>
    <p>SerName: <input type="text" name="sname" th:field="*{lastName}"/></p>
    <p>Department: <input type="text" th:field="*{department}"/></p>
    <p>Job_title: <input type="text" th:field="*{jobTitle}"/></p>
    <p>Gender: <input type="text" th:field="*{gender}"/></p>
    <p>Data_Birth: <input type="text" th:field="*{dateOfBirth}" ></p>
    <p><input type="submit" value="Create" class="create"/><br></p>
    <br><input type="reset" value="Reset" />
</form>

<script type="text/javascript">
    function validate(){
        var x = document.querySelector('.input-name');
        if (x.value.length <= 0){
            document.getElementById("fname").innerHTML="* поле обязательно для заполнения";
            console.log("не заполнено");
            return false;
        }
    }
</script>
<button id="show" onclick="window.location='/users'"> Show Users </button>
</body>
</html>
