<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<h1>Form Update</h1>
<form action="#" th:action="@{/updateuser}" th:object="${userupdate}" method="post">
    <p>Name: <input type="text" th:field="*{firstName}" /></p>
    <p>SerName: <input type="text" th:field="*{lastName}" /></p>
    <p>Department: <input type="text" th:field="*{department}" /></p>
    <p>Job_title: <input type="text" th:field="*{jobTitle}" /></p>
    <p>Gender: <input type="text" th:field="*{gender}" /></p>
    <p>Data_Birth: <input type="text" th:field="*{dateOfBirth}" /></p>
    <p><input type="submit" value="Update" /></p>
</form>
<button id="show" onclick="window.location='/users'"> Show Users </button>
</body>
</html>