<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<h1>User List</h1>
<table>
<tr>
    <th>id</th>
    <th>First_name</th>
    <th>Last_name</th>
    <th>Department</th>
    <th>Job_title</th>
    <th>Gender</th>
    <th>Date_of_birth</th>
    <br>
</tr>
<tr th:each="user : ${users}">
    <td><a th:href="@{'/showuser/{id}'(id=${user.userId})}" th:text="${user.userId}"></a></td>
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.department}"></td>
    <td th:text="${user.jobTitle}"></td>
    <td th:text="${user.gender}"></td>
    <td th:text="${user.dateOfBirth}"></td>
</tr>
</table>
<br>
<button id="create" onclick="window.location='/creates'">create new User</button>
</body>
</html>


